.button {
  background-color: pink;
  border: none;
  padding: 10px;
  color: white;
}

.value {
  font-size: 40px;
}

.icon {
  width: 40px;
}

.interface_icon {
  width: 30px;
  height: 30px;
  color: green;
}